{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block head_js %}
{% endblock head_js %}
{% block content %}
<div class="row row-flex">
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
        <div class="panel-body">
            <img src="{{ MEDIA_URL }}{{product.image}}" alt="image of {{product.name}}" style="width:150px;height:150px;">
            <!--
            <div class="product" style="background-image: url('{{ MEDIA_URL }}{{product.image}}')"></div>-->
            <h3>{{product.name}}</h3>
            {% if product.id in wishlist %}
            <form method="POST" action="{% url 'remove_from_wishlist' product.id %}">
                {% csrf_token %}
                <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">Remove</button>
                </span>
            </form>
            {% else %}
            <form method="POST" action="{% url 'add_to_wishlist' product.id %}">
                {% csrf_token %}
                <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">Add</button>
                </span>
            </form>
            {% endif %}
            <p class="product-description">{{ product.description }}</p>
            <p>{{ product.price }}</p>
            <p>{{ product.origin }}</p>

            <p>{{ product.first_developed }}</p>
            <p>{{ product.use }}</p>
            <p>{{ product.view_count }}</p>

            <p>{{ product.review_count }}</p>

            <p>{{ product.fruit }}</p>
            <p>{{ product.ordered_pcs }}</p>


            <form method="POST" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                <div class="input-group">
                    <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">Add</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}



name = models.CharField(max_length=254, default='')
image = models.ImageField(upload_to='images')
price = models.DecimalField(max_digits=6, decimal_places=2)
origin = models.CharField(max_length=254, default='', blank=False)
first_developed = models.CharField(max_length=4, default='', blank=False)
description = models.TextField()
use = models.CharField(max_length=254, choices=USE_CHOICES, default='')
view_count = models.IntegerField(default=0)
review_count = models.IntegerField(default=0)
tags = models.CharField(max_length=254, default='')
fruit = models.CharField(max_length=254, default='', choices=FRUIT_CHOICES)
ordered_pcs = models.IntegerField(default=0)
