{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}
<div class="display">
    <form action="{% url 'search' %}" method="GET">
        <input type="text" name="q">
        <button type="submit">Search</button>
    </form>
</div>

{% if reviews %}
{% for review in reviews %}
<div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
    <div class="panel-body">
        <h3><a href="{% url 'review_detail' review.id %}">{{ review.title }} for {{ review.product.name }}</a></h3>
        <img src="{{ MEDIA_URL }}{{review.image}}" alt="image of {{review.product.name}} review"
            style="width:150px;height:150px;">
        <!--
            <div class="product" style="background-image: url('{{ MEDIA_URL }}{{product.image}}')"></div>-->

        <p class="product-description">{{ review.comment|truncatewords:30 }}</p>
        <p><span class="boldtext">Rating:</span>

                {{ review.rating }}

        </p>
        <p><a href="{% url 'product_detail' review.product.id %}">{{ review.product.name }}</a></p>
        <p class="product-description">View count: {{ review.view_count }}</p>
        <p class="product-description">Reviewed on: {{ review.created_date }}</p>

    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}

